*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100%;
    /* this width is 100 wrt to its parent container which is nav-logo */
    background-image: url(./amazon_logo.png);
    background-size: cover;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border:1px solid white;
}
.nav-add{
    height: 50px;
    width: 80px;
    padding: 6px;
}
.add-icon{
    display:flex;
    align-items: center;
    color: white;
}
.add-first{
    color: #cccccc;
    font-size: 0.7rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
    
}
.nav-search{
    display:flex;
    height: 40px;
    width: 620px;
    background-color: pink;
    border-radius: 5px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 5px;
    border: none;
    width:57px;
}
.search-input{
    width: 100%;
    font-size: large;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd69;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: larger;
}
.nav-sigin{
    color: white;
    height: 47px;
    text-align: center;
    padding: 5px;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-orders{
    color: white;
    height: 47px;
    text-align: center;
    padding: 5px;
}
.nav-cart{
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 3px;
}
.nav-cart i{
    font-size: 25px;
}
.uppercart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uppercart p{
    color: #febd69;
}
.cart{
    font-weight: 700;
}
.panel{
    height: 39px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
}
.panel-all{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.panel-all p{
    padding: 5px;
}
.panel p{
    padding: 8px;
}
.hero-section{
    background-image: url(./hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}
.hero-message{
    background-color: #f5f6f6;
    height: 40px;
    width: 95%;
    padding: 14px 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
.hero-message a{
    color: #007185;
    text-decoration: none;
}
.hero-message a:hover{
    text-decoration: underline;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
/* box section */
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 10px;
    padding: 20px 0px 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
}
.box p{
    margin-top: 8px;
}
.box h2{
    margin-bottom: 5px;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;

}
.box-content h2{
    font-weight: 100;
}
.box1 a{
    color: #007185;
    text-decoration: none;
}
.box1 a:hover{
    text-decoration: underline;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.foot-panel2{
    background-color: #232F3E;
    color: white;
    
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
}
.foot-panel2 a{
    text-decoration: none;
    color: rgb(192, 178, 178);
}
.foot-panel2 a:hover{
    text-decoration: underline;
}
ul a{
    display: block;
}
.foot-panel3{
    background-color: #232F3E;
    border-top: 0.1px solid grey;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 50px;
    width:  80px;
    /* this width is 100 wrt to its parent container which is nav-logo */
    background-image: url(./amazon_logo.png);
    background-size: cover;
}
.foot-panel4
{
    background-color: #131921;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pages{
    display: flex;
    justify-content: center;
}
.foot-panel4 a{
    color:white;
    text-decoration: none;
}